/*
    DEFAULT
*/

$max-width: 1920px;
$max-mobile-width: 450px;
$max-mobile-min: 370px;

/* colors: */

$purpur: #521231;

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    color: #202020;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

section {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 40px;
    @media screen and (max-width: $max-width){
        padding: 0 2.08vw;
    }
    @media screen and (max-width: $max-mobile-width){
        padding: 0 15px;   
    }
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.1);
    z-index: 1;
}

.title {
    color: #000000;
    font-weight: bold;
    padding: 0 0 20px;
    @media screen and (max-width: $max-width){
        padding: 0 0 1.04vw;
    }
    @media screen and (max-width: $max-mobile-width){
        padding: 0 0 20px;   
    }
}

* {
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: #bebebe;
    text-decoration: none;
}

h1, h2, h3{
    text-align: center;
}

h1{
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    color: #521231;

    @media screen and (max-width: $max-width){
        //font-size: 2.08vw;
        //line-height: 3.12vw;
    }
    @media screen and (max-width: $max-mobile-width){
        //font-size: 40px;
        //line-height: 60px;  
    }
}

h2{
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;

    @media screen and (max-width: $max-width){
        font-size: 1.56vw;
        line-height: 2.34vw;
    }
    @media screen and (max-width: $max-mobile-width){
        font-size: 30px;
        line-height: 45px; 
    }
}

h3{
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;


    @media screen and (max-width: $max-width){
        //font-size: 0.83vw;
        //line-height: 1.25vw;
    }
    @media screen and (max-width: $max-mobile-width){
        font-size: 16px;
        line-height: 24px;
    }
}

.login-section{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menu-button{
        display: none;
        @media screen and (max-width: $max-mobile-width){
            display: block;
        }    
    }
}

.right-text{
    text-align: right;
}

.menu-button{
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    @media screen and (max-width: $max-mobile-width){
        width: 35px;
    }
}

.no-margin-right{
    margin-right: 0 !important;
}