.header{
    width: 100%;
    color: #fff;
    padding-top: 25px;
    @media screen and (max-width: $max-width){
        padding-top: 1.3vw;
    }
    @media screen and (max-width: $max-mobile-width){
        padding-top: 25px;  
    }
    

    .title{
        display: flex;
        justify-content: center;
        position: relative;
        color: #fff;
        .title-text{
            color: #ffffff;
            font-size: 17px;
            @media screen and (max-width: $max-width){
                font-size: 0.88vw;
            }
            @media screen and (max-width: $max-mobile-width){
                font-size: 17px;  
            }
        }
    }
}

.registration-header{
    padding-bottom: 22px;
    @media screen and (max-width: $max-width){
        padding-bottom: 1.14vw;
    }
    @media screen and (max-width: $max-mobile-width){
        padding-bottom: 22px;
    }
    h1{
        font-size: 30px;
        color: $purpur;
        font-weight: 700;
        font-family: "Poppins";
        margin: 40px 0;
        text-align: center;
        @media screen and (max-width: $max-width){
            font-size: 1.56vw;
            margin: 2.08vw 0;
        }
        @media screen and (max-width: $max-mobile-width){
            font-size: 30px;
            margin: 0;
        }
    }
    .line-block{
        display: flex;
        align-items: center;
        .line{
            background-color: #202020;
            height: 8px;
            border-radius: 4px 0 0 4px;
            width: 100%;
            position: relative;
            overflow: visible;
            @media screen and (max-width: $max-width){
                height: 0.41vw;
            }
            @media screen and (max-width: $max-mobile-width){
                height: 8px;
            }
        }
        .line-left{
            width: 100px;
            @media screen and (max-width: $max-width){
                width: 5.2vw;
            }
            @media screen and (max-width: $max-mobile-width){
                width: 58px;
            }
        }
        .line-text{
            width: fit-content;
            font-size: 24px;
            color: $purpur;
            font-weight: 400;
            font-family: "Poppins";
            padding: 7px;
            background-color: #ffffff;
            white-space: nowrap;
            @media screen and (max-width: $max-width){
                font-size: 1.25vw;
            }
            @media screen and (max-width: $max-mobile-width){
                font-size: 24px;
            }
        }
    }
    
}